.kuListContainer {
  flex-basis: 55%;
  margin: 40px 0px 40px 40px;
  // TODO


  .kuList {
    padding: 60px 40px 60px 40px;
    height: 100%;
    background-color: white;
    border-radius: 20px;

    .contentContainer{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    .noPosts {
      font-size: 25px;
      color: gray;
      text-align: center;
    }
  }

  .listLoader {
    position: absolute;
    top: 50%;
  }

}

.kuListContainerMobile{
  margin: 20px 0px 220px 10px;
  // TODO

  .newPostButton{
    margin-bottom: 20px;
    margin-left: 78%;
    padding: 5px 6px 5px 6px;
    border-radius: 8px;
    border: none;
    font-size: 12px;
    background: var(--main-button-color);
    color: var(--main-button-font-color);

    &:hover {
      background-color: var(--main-button-color-hover);
      color: white;
    }
  }

  .selectBox {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;

    background-color: white;
    border-radius: 20px;
    cursor: pointer;

    .latestSelect {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      padding: 10px 40px 10px 30px;
      transition: 0.2s;
      font-size: 12px;

    }

    .mostLikedSelect {
      padding: 10px 30px 10px 30px;
      transition: 0.2s;
      font-size: 12px;
    }

    .mostCommentedSelect {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      padding: 10px 30px 10px 30px;
      transition: 0.2s;
      font-size: 12px;
    }

    .selected {
      background-color: var(--main-bg-color);
    }
  }

  .kuList {
    margin-top: 40px;
    padding: 0px 10px 40px 10px;
    overflow-y: scroll;
    height: 100%;
    border: 1px solid red;

    &::-webkit-scrollbar {
      display: none;
    }

    .noPosts {
      font-size: 25px;
      color: gray;
      text-align: center;
    }
  }

  .listLoader {
    position: absolute;
    top: 50%;
  }

}